<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}K-sec{% endblock %}</title>
    <style type="text/css">
        .asteriskField {
            display: none;
        }

        form .alert ul li {
            list-style: none;
        }

        form .alert ul {
            padding: 0;
            margin: 0;
        }
    </style>
</head>
<body>
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery="full" %}
{% bootstrap_messages %}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

{% block content %}
{% endblock %}

</body>
</html>
