<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>


{% for coin in coins %}
    <div class="card coin-card" >
    <div class="card-body">
        <h5 class="card-title">{{ coin }}</h5>
        <p class="card-text" id="ws-{{ coin }}"></p>
        <div class="card-body coin-body" id="coin-card-{{ coin }}" ws-coin="{{ coin }}"></div>
    </div>
    </div>
{% endfor %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery="full" %}
{% bootstrap_messages %}

{% load static %}
<link rel="stylesheet" href="{% static 'crypto/index.css' %}">
<script src="https://unpkg.com/lightweight-charts@3.1.5/dist/lightweight-charts.standalone.production.js"></script>
<script src="{% static 'crypto/chart.js' %}"></script>

</body>
</html>