{% extends "core/base.html" %}

{% load static %}

{% block content %}
    {% include "crypto/nav.html" %}

    <div class="container-fluid">
        {% for symbol in symbol_data %}
            <div class="i-am-centered">
                <div class="content-row row justify-content-around">
                    <div class="chart-card col-sm-6 col-md-7 col-lg-8">
                        <div class="card">
                            <div class="chart-body">
                                <div class="chart" id="chart-{{ symbol.symbol }}" ws-symbol="{{ symbol.symbol }}"></div>
                            </div>
                        </div>
                    </div>
                    {% include "crypto/info.html" %}
                </div>
                {% if user.is_authenticated %}
                    <div class="row justify-content-around">
                        {% include "crypto/orders.html" %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

    </div>

    <link rel="stylesheet" href="{% static 'crypto/index.css' %}">
    <script src="https://unpkg.com/lightweight-charts@3.1.5/dist/lightweight-charts.standalone.production.js"></script>
    <script src="{% static 'crypto/chart_manager.js' %}" type="module"></script>
    <script src="{% static 'crypto/crypto.js' %}" type="module"></script>
{% endblock %}

