{% extends "core/base.html" %}
{% load static %}
{% block content %}

    {% include "core/nav_base.html" %}

    <div class="container-fluid">
        {% for share in shares %}
            <div class="i-am-centered">
                <div class="content-row row justify-content-around">
                    <div class="col-lg-12">
                        <div class="card share-card" id="{{ share.crypto_symbol_id }}">
                            <p class="card-header">
                                <strong>{{ share.crypto_symbol_id }}</strong>
                            </p>
                            <div class="card-body">
                                <div>
                                    <strong>Current Price:</strong>
                                    <span class="symbol-price"
                                    >${{ share.crypto_symbol.price|floatformat:2 }}</span
                                    >
                                </div>
                                <div>
                                    <strong>Today's return</strong>:
                                    <span id="todays-change-{{ symbol.symbol }}">
                                        ${{ share.price_change|floatformat:2 }} ({{ share.percent_change|floatformat:2 }}%)
                                    </span>
                                </div>
                                <div>
                                    <strong>Total return</strong>:
                                    <span id="total-return-{{ symbol.symbol }}">
                                        ${{ share.price_change|floatformat:2 }} ({{ share.percent_change|floatformat:2 }}%)
                                    </span>
                                </div>
                            </div>
                            <div class="card-footer">
                                <strong>Shares</strong>: {{ share.shares|floatformat:2 }}
                                <strong>Average price</strong>: {{ share.average_price|floatformat:2 }}
                                <p id="{{ share.crypto_symbol_id }}-percent-change">
                                    <strong>Percent change</strong>:
                                    <span>{{ share.percent_change|floatformat:2 }}</span>%
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <link rel="stylesheet" href="{% static 'crypto/portfolio.css' %}"/>
    <script src="{% static 'crypto/portfolio.js' %}" type="module"></script>
{% endblock %}
