{% extends "core/base.html" %}
{% load static %}
{% block content %}

    {% include "core/nav_base.html" %}
    <div class="container-fluid">
        {{ request.user.id|json_script:"user_id" }}
        <div id="chart-container">
            <canvas id="share-chart"></canvas>
        </div>
        <div class="share-container content-row row justify-content-around">
            {% for share in data %}
                <div class="card share-card  col-lg-12 justify-content-around" id="{{ share.symbol }}">

                    <div class="card-header">
                        <strong>{{ share.symbol }}</strong>
                    </div>

                    {% include "crypto/portfolio/share.html" %}

                    <div class="card-footer">
                        <div>
                            <strong>Current Price</strong>:
                            <span id="price-{{ share.symbol }}">
                                        {{ share.price }}
                            </span>
                        </div>
                        <div>
                            <span id="symbol-change-{{ share.symbol }}">
                            {{ share.price_change }} ({{ share.percent_change|floatformat:2 }}%)
                            </span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <link rel="stylesheet" href="{% static 'crypto/portfolio.css' %}"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.bundle.min.js"></script>
    <script src="{% static 'crypto/info_manager.js' %}" type="module"></script>
    <script src="{% static 'crypto/pie_chart.js' %}" type="module"></script>
    <script src="{% static 'crypto/portfolio.js' %}" type="module"></script>
{% endblock %}
