body {
    background-color: darkslategray;
}

/*=========================== Chart ================================================*/
.chart-card {
    width: 100%;
    height: 100%;
    background-color: darkcyan;
    margin-top: 1rem;
    padding: 0.5rem;
    box-shadow: 10px 12px 7px 1px rgba(0, 0, 0, .3);
}

.chart-body {
    position: relative;
    padding-bottom: 50%;
    width: 100%;
    height: 100%;
}

[id*=chart-] {
    justify-self: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

/*=========================== INFO ================================================*/

.info-card {
    background-color: darkcyan;
    margin-top: 1rem;
    box-shadow: 10px 12px 7px 1px rgba(0, 0, 0, .3);
}
.info-content {
    background-color: white;
}

