body {
    background-color: darkslategray;
}

.coin-card {
    width: 100%;
    height: 100%;
    background-color: darkcyan;
    margin-top: 1rem;
}

.coin-body {
    position: relative;
    padding-bottom: 50%;
    margin-right: 2.5rem;
    margin-bottom: 2rem;
}
[id*=coin-chart-] {
    justify-self: center;
    width: 100%;
    height: 100%;
}