body {
    background-color: #2b2b2b;
    /*color: black;*/
    color: #ccc;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*=========================== Chart ================================================*/
.chart-card {
    align-self: center;
    width: 100%;
    height: 100%;
    /*background-color: #520000;*/
    background-color: #80002d;
    margin-top: 1rem;
    padding: 0.5rem;
    box-shadow: 10px 12px 7px 1px rgba(0, 0, 0, .3);
}

.chart-body {
    position: relative;
    padding-bottom: 30rem;
    width: 100%;
    height: 100%;
}


[id*=chart-] {
    justify-self: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

@media (max-width: 576px) {
    .chart-card {
        margin: 1rem 0.5rem 0 0.5rem;
    }

    .chart-body {
        padding-bottom: 20rem;
        /*margin: 0 1rem 0 1rem;*/
    }
}

/*=========================== INFO ================================================*/


.info-card {
    /*background-color: #80001c;*/
    align-self: center;
    background-color: #80002d;
    margin: 1rem 0 0 0;
    box-shadow: 10px 12px 7px 1px rgba(0, 0, 0, .3);
    height: 100%;
    width: 100%;
}

.info-header {
    padding: 1rem 1rem 1rem 1rem;
}

.info-content {
    height: 100%;
    width: 100%;
    padding-top: 1rem;
}

.info-card .col-md-2 {
    text-align: center;
}

.info-price {
    text-align: center;
}


.info-footer {
    /*background-color: #80002d;*/
    font-size: small;
    padding: 0;
    text-align: center;
}

.info-footer p {
    margin: 0.2rem;
}

.info-symbol-link-disable {
    pointer-events: none;
}

.info-symbol-change {
    text-align: center;
    width: 100%;
}

@media (max-width: 576px) {
    .info-card {
        margin: 1rem 0.5rem 0 0.5rem;
    }
}

/*=========================== Order Btn Group ===========================================*/

.order-btn-group {
    width: 100%;
}

.order-btn-group div {
    padding-top: 0.2rem;
}

.order-btn-group-trade {
    padding: 0;
    width: 100%;
}

.order-btn-dropdown select {
    width: 100%;
    text-align-last: center;
}

.btn-trade-type-radio {
    margin: 0;
    padding: 0;
    border: 0;
}

.btn-trade-type-radio label {
    padding: 0.4rem;
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    display: block;
}


/*=========================== Order Form ================================================*/

.order-form {
    padding: 1rem 0 0 0;
}


.order-table {
    height: 100%;
}

.order-form-button {
    margin-top: 10px;
    width: 50%;
}

.order-table label {
    padding-left: 1.5rem;
}

.order-table th {
    width: 10%;
}

.order-table .order-table-field {
    padding-right: 2rem;
    width: 40%;
}

.order-table input {
    text-align: right;
}

.order-table input {
    margin: 0 1rem 0 1rem;
}

.order-error-table {
    margin: 0.2rem auto;
    width: 60%;
}

.order-error-table tbody {
    margin-top: 1rem;
}

.order-error-table tr {
    padding-top: 1rem;
}

.order-error-table .alert {
    padding: 0;
    font-size: 12px;
    width: 60%;
    text-align: center;
}

/*=========================== Order List ============================================*/
.order-list {
    width: 80%;
    margin: 0 auto;
}

.order-list-toggle {
    width: 20%;
    display: block;
    margin: 0 auto auto 85%;
}

@media (max-width: 576px) {
    .order-list-toggle {
        margin: 0 auto;
        padding: 0;
    }
}

.order-list-div {
    background-color: #80002d;
    width: 100%;
    text-align: center;
    margin: 1rem 0 0 0;
    padding: 0.5rem;
}


.order-list-items {
    margin: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

.order-item {
    width: 100%;
}