{% block info-content %}
    <div class="info-card col-sm-5 col-md-4 col-lg-3" id="info-card-{{ symbol.symbol }}">
        <div class="info-header card-header row">
            <div class="col-md-2">
                {% if symbol_data|length == 1 %}
                    <a class="info-symbol-link-disable"><h6>{{ symbol.symbol }}</h6></a>
                {% else %}
                    <a href="{% url 'crypto' %}?symbol={{ symbol.symbol }}"><h6>{{ symbol.symbol }}</h6></a>
                {% endif %}
            </div>

            <div class="col-lg-8 info-price" id="info-{{ symbol.symbol }}">
                <h5 id="{{ symbol.symbol }}-price">${{ symbol.price|floatformat:2 }}</h5>
            </div>
            <div class="info-symbol-change">
                <strong>Today</strong>:
                <span id="todays-change-{{ symbol.symbol }}">${{ symbol.price_change|floatformat:2 }} ({{ symbol.percent_change|floatformat:2 }}%)</span>
            </div>
        </div>

        <div class="info-content">
            <form method="post" class="info-content">
                {% include "crypto/index/order_btn_group.html" %}

                <div class="order-form card-body">
                    {% include "crypto/index/order_form.html" %}
                </div>

            </form>
        </div>
        {% if user.is_authenticated and symbol.share_data is not None %}
            <div class="card-footer">
                <div class="row info-footer justify-content-around">
                    <p class="col-lg-8"><strong>Shares</strong>: {{ symbol.share_data.shares|floatformat:2 }}</p>
                    <p class="col-lg-8"><strong>Average
                        price</strong>: {{ symbol.share_data.average_price|floatformat:2 }}</p>
                    <p class="col-lg-8">
                        <strong>Percent change</strong>:
                        <span id="{{ symbol.symbol }}-percent-change">{{ symbol.share_data.percent_change|floatformat:2 }}</span>%
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
