{% extends 'core/nav_base.html' %}

{% block nav_content %}
    {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'crypto_portfolio' pk=user.pk %}">Crypto Portfolio</a>
        </li>
    {% endif %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="symbol-dropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if current_nav == "Crypto" %} {{ "Symbols" }} {% else %}{{ current_nav }} {% endif %}
        </a>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="symbol-dropdown">
            {% for symbol in navs %}
                {% ifequal current_nav symbol %}
                    <a class="dropdown-item active" href="{% url 'coin' %}?symbol={{ symbol }}">{{ current_nav }}</a>
                {% else %}
                    <a class="dropdown-item" href="{% url 'coin' %}?symbol={{ symbol }}">{{ symbol }}</a>
                {% endifequal %}
            {% endfor %}
        </div>
    </li>
{% endblock %}
